<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Programcının Günlüğü</title>
</head>
<link rel='stylesheet' href='templates\style.css'/>
<body>
  <header class="header">
    <ul class="main-list">
      <li class="list__item">
        <a href=></a>
      </li>
    </ul>
    
  </header>
  <main>
    {% block content %}
    <a href="/icat/">
      <button class="button" type="button">İcatlar</button>
    </a>
    <h1>Tarih ile ilgili buluşlar</h1>
    {% endblock %}
  </main>

</body>
</html>